[user]
	name = MatheusR42
	email = example@gmail.com
[core]
	editor = code --wait
[push]
	followTags = true
[alias]
	c = !git add --all && git commit -m
	s = !git status -s
	amend = !git add --all && git commit --amend --no-edit
